@font-face {
  font-family: "haxrcorp";
  src: url("haxrcorpttf.ttf");
}

@font-face {
  font-family: "Kubasta";
  src: url("../lib/fonts/Kubasta.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply p-0 m-0 h-screen w-screen;
}

#__next {
  @apply h-screen w-screen flex flex-col justify-center items-center;
}

body {
  @apply bg-ctp-crust;
}
